*{	
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body{
	font-family: 'Poppins', sans-serif;
}


.navbar{
display:flex;
align-items:center;
padding:20px;
}
nav{
flex:1 ;
text-align:right;
margin-right:30px;
}

nav ul{
	display:inline-block;
	list-style-type:inline-block;  /* to remove the ul list tag bullet point number*/
}


nav ul li{
	display:inline-block;text-align: center;
}


a{
	text-decoration:none; /* remove the underline of home contact product ..*/
	color:#555;
	padding: 10px 10px;
}

.active ,nav ul li a:hover{
		
	color:white;
	background:rgb(12,100,100);
}

p{
	color:#555; /* #555 is faint gray color which you can see in paragraph of first page*/
}

.container{
	max-width: :1200px; 
	/* width of page in pixel google search*/
	margin:auto;
	padding-left:25px;
	padding-right:25px;

}
.row{
	display:flex;  /*flex show in colums . heading | image*/
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-around;
}
.col-2{
	flex-basis:50% ; /* frame divide in two part 50--50*/
	min-width:300px;
	}

.col-2 img{
	max-width:100%;
	/*padding:50px 0;*/
	padding-left: 50px;
	height: 450px;
		/* tag padding:top right bottom left */
	}
	
.col-2 h1{
	font-size:50px;
	line-height:60px;/*distance between two line*/

	margin:25px 0px;
	}
	
.btn{			
	display:inline-block;		/*Explore Button with circle tag */
	background:#ff523b;		/*#ff523b-red color*/
	color:#fff;			/*#fff-white color*/
	padding:8px 30px;  
	margin:30px 0;  		/*location in screen*/
	border-radius:30px;
	/*transition:transform 0.5s;*/
	transition: background 5s;	/*it use when hover tag use*/
}
.btn:hover{
	background:#563434;/*hover effect color*/
	
	/*transform:translateY(-5px);*/
}

.header{
	background:radial-gradient(#fff,#ffd6d6) ; /*background screen color*/
	height: 730px /*height of page .*/
}

.header .row{
	margin-top:70px;
}

/*--------feature categories-------------*/

.categories{
	margin:125px 0;/*margin from after finishing 1st page */
}

.col-3{

	flex-basis:33.33%; /*100 is divided into 3 columns*/
	min-width:250px;
	margin-bottom:30px;/*margin from after adding 3 images then 30px space leave */
	transition :transform 0.5s;
	/*border: 1px solid gray;*/
	height: 350px;
	overflow: hidden;
}
.col-3 img{
	width:100%;
}


.small-container{
	max-width:1080px;
	margin:auto;
	padding-left:25px;
	padding-right:25px;
}

.col-3:hover{
	transform:translateY(-5px);
}








/*-----------------Featured product---------*/

.col-4{
	flex-basis:20%;
	padding:10px;
	height: 300px;
	margin-bottom:50px;
	/*border: 1px solid red;*/
	overflow: hidden;
	transition :transform 0.5s;/*this line inserted when we use havor tag in below*/
}

.col-4 img{
	width:100%;
	height: 200px;
}


.title{
	text-align:center;
	margin:0 auto 80px;
	position:relative;
	line-height:50px;/* height of red line */
	color:#555;
}

.title::after{   /* this block used to insert that line red underline*/
	content:'';/*due to this red underline show try it your self*/
	background:#ff523b;/*red color*/
	width:80px;
	height:5px;
	border-radius:5px;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}



h4{		/*Product Name:Red Printed shirt*/
padding-top: 8px;
color:#555;
font-weight:normal;
}

.col-4 p{
font-size:14px;
}

.rating .fa{
color:#ff523b;
}

.col-4:hover{
	transform:translateY(-3px);
}

/*-----------------offer----------*/

.offer{
background:radial-gradient(#fff,#ffd6d6);
margin-top:80px;
padding:70px 0;
}

.col-2 .offer-img{
	padding:40px;
	
}

small{
color:#555;
}


/*------------------Testimonial------------*/
.testimonial{
	padding-top:100px;
	}
	
.testimonial .col-3{
	flex-basis: 31%;
	
	text-align:center;
	padding:40px 20px;	/*try it yourself boc size increase height * width */
	box-shadow: 0 8px 16px 0px rgba(0,0,0,0.3);/* shape to box */
	cursor:pointer;
	transition:transform 0.7s;
	
	}
.testimonial .col-3 img{
	width:50px;
	margin-top:20px;
	border-radius:50%; /*circle img*/
	}
	
.testimonial .col-3:hover{
	transform:translateY(-10px);
}
	
.fa.fa-quote-left{   /*this is for double quot in the box which is not printed */
font-size:20px;
color:#777;
}

.col-3 p{
	font-size:12px;
	margin:12px 0;
	color:#777;
}


.testimonial .col-3 h3{  /*name of person*/
	font-weight: :600;
	color:#555;
	padding-top: 20px;
	font-size:16px;
}



/*----------------brands-------------*/

.brands{

	margin:100px auto;
}

.col-5{
	/*border: 1px solid red;*/
	width:160px;
}

.col-5 img{
	height:50px;
	width: 70%;
	cursor:pointer;
	filter:grayscale(100%);  /*change color to color gray of logo*/
}

.col-5 img:hover{
	filter:grayscale(0);/*  logo color blink when we click the cursor for that grayscale must be 0 */
}




/*--------------footer-------------------*/

.footer{
	
	background:#000;
	color:#8a8a8a;			/*backgroud black of footer and 4 colums adjust*/
	font-size:14px;
	padding:20px 0 20px;
}


.footer p{
	color:#8a8a8a;
}

.footer h3{  /*heading:Download are App*/
	color:#fff;
	margin-bottom:20px; /* space from bottom*/
}
.footer-col-1, .footer-col2, .footer-col-3, .footer-col-4{
	
	margin-bottom: :20px;
}

.footer-col-1:{
	flex-basis:30%;
}
.footer-col-2:{
	text-align:center;
}
.footer-col-2 img{
	width:180px;
	margin-bottom:20px;
}


.footer-col-3 , .footer-col-4{
	flex-basis:10%;
	text-align:center;
}

ul{
	list-style-type:none; /*for remove bullet point sign*/

}

.app-logo{
margin-top:20px;
}


.app-logo img{
	height:40px;
	width:160px;
}



.footer hr{
	border:none;
	background:#b5b5b5; /*line color gray*/
	height:6px;
	margin:20px 0;
}


.Copyright{
	
	text-align:center;
}


.menu-icon{

	width:28px;
	margin-left:20px;
	display:none; */ /*it used in 378 to hide if size more than 800*/
}

/*----from here code is not run watch again video--------media query for menu less than 800 screen size video time:1:13:20--------*/

@media only screen and(max-width:800px){
	nav ul{
	position:absolute;
	top:70px;
	left:0;
	background:#333;
	width:100%;
	overflow: hidden;
	transition: max-height 0.5s;
	
	}
	
	nav ul li{
		display:block;
		margin:right:50px;
		margin-top:10px;
		margin:bottom:10px;
	}
	
	nav ul li a{
	color:#fff;
	}
	
	
	.menu-icon{		/*to hide menu bar if size is more than 800*/
	display:block;
	cursor:pointer;
	}
	
}

/*------------media query for menu less than 600 screen size video time:1:21:00--------*/

@media only screen and (max-width:600px){
	
	.row{
		text-align:center;	/*--if we reduce scree size less than 600 then items taking 100% size which one at time video 1:23:00*/
	}
	.col-2 , .col-3, .col-4{
	flex-basis:100%;
	}

	.menu-icon{
		display: block;
		cursor: pointer;
	}
}

